<%= form_for(@user_document) do |f| %>
  <% if @user_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_document.errors.count, "error") %> prohibited this user_document from being saved:</h2>

      <ul>
      <% @user_document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" hidden>
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id%>
  </div>
  <div class="field" hidden>
    <%= f.label :document_id %><br>
    <%= f.text_field :document_id, value: params[:document_id] %>
  </div>
  <div class="actions">
    <%= f.submit "agree", :class => 'submit_button'%>
  </div>
<% end %>
