<p id="notice"><%= notice %></p>

<h1>Document Section</h1>
      <iframe src="https://www.youtube.com/watch?v=3D-GO0qzU_o&index=1&list=PLIoHkUByRQSbW3gHYYl9qe9YxOYybPxeB" frameborder="0"></iframe>
<br>
<% @documents.each do |doc| %>
  <%= link_to "Create New #{doc.name}", new_user_document_path(document_id: doc.id) %>
  <p/>
<% end %>
<h2>Your Exisiting Documents</h2>
<table>
  <thead>
    <tr>
     
      <th>Document Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @user_documents.each do |user_document| %>
      <tr>
        <td><%= user_document.title %></td>
        <td><%= link_to 'Show', user_document %></td>
        <td><%= link_to 'Edit', edit_user_document_path(user_document) %></td>
        <td><%= link_to 'Destroy', user_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


