<script>
        $(document).ready(function() {
            $('.tooltips').tooltipster({trigger: 'click', position: 'right'});
        });
</script>

<%= form_for(@user_case_info, remote: true) do |f| %>
  <% if @user_case_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_case_info.errors.count, "error") %> prohibited this user_case_info from being saved:</h2>

      <ul>
      <% @user_case_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :docket_id %><br>
    <%= f.text_field :docket_id, :title => 'Enter Your Docket ID', :class => 'tooltips'  %>
  </div>
  <div class="field">
    <%= f.label :charged_with %><br>
    <%= f.text_field :charged_with, :title => 'Enter What You are Charged With', :class => 'tooltips'  %>
  </div>
  <div class="field">
    <%= f.label :charge_type %><br>
    <%= f.select :charge_type, {}, { include_blank: 'Select Your Charge Type' }, :title => 'Select Your Charge Type', :class => 'form-control tooltips' do  %>
       <option value="(a) It has been two years since I was charged with an eligible misdemeanor but not convicted">(a) It has been two years since I was charged with an eligible misdemeanor but not convicted</option>
       <option value="(b) It has been 5 years I was charged but not convicted with an ineligible misdemeanor...">(b) It has been 5 years I was charged but not convicted with an ineligible misdemeanor...</option>
       <option value="(c) It has been 10 years since I finished parole, probation, prison, or supervised release after being charged with an eligible misdemeanor or eligible felony conviction  or inelegibile">(c) It has been 10 years since I finished parole, probation, prison, or supervised release after being charged with an eligible misdemeanor or eligible felony conviction  or inelegibile</option>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :police_description %><br>
    <%= f.text_field :police_description, :title => 'Enter the Police Description for Your Charge', :class => 'tooltips'  %>
  </div>
  <div class="form-group">
    <%= f.label :case_conclusion %>
    <%= f.select :case_conclusion, {}, { include_blank: 'Select Your Conclusion' }, :title => 'Select Your Conclusion', :class => 'form-control tooltips' do  %>
      <option value="no papered">no papered</option>
      <option value="dismissed">dismissed</option>
      <option value="nolle prosequi">nolle prosequi</option>
      <option value="guilty">guilty</option>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :is_case_pending, 'Is case pending?' %>
    <span class="radio">
      <label>
        <%= f.radio_button :is_case_pending, "No", class: 'tooltips', title: 'No, case is not pending' %> No
      </label>
      <label>
        <%= f.radio_button :is_case_pending, "Yes", class: 'tooltips', title: 'Yes, case is pending' %> Yes
      </label>
    </span>

  </div>
  <div class="field tooltips" title = "Enter the Date Your Case Ended" >
    <%= f.label :case_end_date %><br>
    <%= f.text_field :case_end_date, "data-provide" => 'datepicker', 'data-date-format' => 'yyyy-mm-dd' %>

  </div>
  <div class="actions">
    <%= f.submit :class => 'submit_button'%>
  </div>
<% end %>
