<div class="form-navigation two-column__sidebar">
	<% if @video_url %>
		<div class="form-navigation__video">
			<iframe src="<%= @video_url %>" frameborder="0"></iframe>
		</div>
	<% end %>


	<ul class="form-navigation__list">

		<li class="form-step form-navigation__list-item">
			<a class="form-step__link" href="<%= new_user_information_path %>">
				<div class="form-step__number">1</div>
					About You
			</a>
		</li>


		<li class="form-step form-navigation__list-item">
			<a class="form-step__link" href="<%= new_user_case_info_path %>">
				<div class="form-step__number">2</div>
					Add Case Information
			</a>
		</li>
		
		<li class="form-step form-navigation__list-item">
			<a class="form-step__link" href="<%= user_arguments_path %>">
				<div class="form-step__number">3</div>
					Reasons for Expungement
			</a>
		</li>
		
		
		<li class="form-step form-navigation__list-item">
			<a class="form-step__link" href="<%= user_references_path %>">
				<div class="form-step__number">4</div>
					Your References
			</a>
		</li>

		<li class="form-step form-navigation__list-item">
			<a class="form-step__link" href="<%= documents_path %>">
				<div class="form-step__number">5</div>
					Print and Export
			</a>
		</li>

	</ul>
</div>