<div class="form-navigation two-column__sidebar">
	<% if @video_url %>
		<div class="form-navigation__video">
			<iframe src="<%= @video_url %>" frameborder="0"></iframe>
		</div>
	<% end %>


	<ul class="form-navigation__list">

		<li class="form-step form-step--active form-navigation__list-item">
			<a class="form-step__link" href="<%= user_case_infos_path %>">
				<div class="form-step__number">1</div>
					Add Case Information
			</a>
		</li>

		<li class="form-step form-navigation__list-item">
			<a class="form-step__link" href="<%= user_case_infos_path %>">
				<div class="form-step__number">2</div>
					Reasons for Expungement
			</a>
		</li>

		<li class="form-step form-navigation__list-item">
			<a class="form-step__link" href="<%= user_case_infos_path %>">
				<div class="form-step__number">3</div>

					How have you changed?
			</a>
		</li>

		<li class="form-step form-navigation__list-item">
			<a class="form-step__link" href="<%= user_case_infos_path %>">
				<div class="form-step__number">4</div>

					Additional Information
			</a>
		</li>

		<li class="form-step form-navigation__list-item">
			<a class="form-step__link" href="<%= user_case_infos_path %>">
				<div class="form-step__number">5</div>
					Print and Export
			</a>
		</li>

	</ul>
</div>
