<div class="form-navigation">
	<ul class="form-navigation__list">

		<li class="form-step form-navigation__list-item">
			<a href="<%= user_case_infos_path %>">
				<h2 class="form-step__name">
					Add Case Information
				</h2>
			</a>
		</li>
		
		<li class="form-step form-navigation__list-item">
			<a href="<%= user_case_infos_path %>">
				<h2 class="form-step__name">
					Reasons for Expungement
				</h2>
			</a>
		</li>
		
		<li class="form-step form-navigation__list-item">
			<a href="<%= user_case_infos_path %>">
				<h2 class="form-step__name">
					How have you changed?
				</h2>
			</a>
		</li>
		
		<li class="form-step form-navigation__list-item">
			<a href="<%= user_case_infos_path %>">
				<h2 class="form-step__name">
					Additional Information
				</h2>
			</a>
		</li>

		<li class="form-step form-navigation__list-item">
			<a href="<%= user_case_infos_path %>">
				<h2 class="form-step__name">
					Print and Export
				</h2>
			</a>
		</li>

	</ul>
</div>