<%= form_for(@user_reference, remote: true) do |f| %>
  <% if @user_reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_reference.errors.count, "error") %> prohibited this user_reference from being saved:</h2>

      <ul>
      <% @user_reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field" hidden>
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, value: current_user.id %>
  </div>
  <div class="field" hidden>
    <%= f.label :user_document_id %><br>
    <%= f.text_field :user_document_id, value: params[:user_document_id] %>
  </div>
  <div class="field">
    <%= f.label :attachment %><br>
    <%= f.text_area :attachment %>
  </div>
  <div class="field">
    <%= f.label :reference_name %>
    <%= f.text_field :reference_name %>
  </div>
  <div class="field">
    <%= f.label :relation_to_user %>
    <%= f.text_field :relation_to_user %>
  </div>
  <div class="field">
    <%= f.label :recommendation %><br />
    <%= f.text_area :recommendation %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'submit_button'%>
  </div>

<% end %>
