<p id="notice"><%= notice %></p>

<h1>Listing User References</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Attachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_references.each do |user_reference| %>
      <tr>
        <td><%= user_reference.document %></td>
        <td><%= user_reference.attachment %></td>
        <td><%= link_to 'Show', user_reference %></td>
        <td><%= link_to 'Edit', edit_user_reference_path(user_reference) %></td>
        <td><%= link_to 'Destroy', user_reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User reference', new_user_reference_path %>
