<% @video_url = "https://www.youtube.com/embed/sXakTGa1OIs?list=PLIoHkUByRQSbW3gHYYl9qe9YxOYybPxeB" %> 
<p id="notice"><%= notice %></p>
<h1>Character Building</h1>
<h2>My References</h2>
<h3>People that have written about the person that I am today.</h3>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Attachment</th>
      <th>Reference Name</th>
      <th>Relation to Self</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_references.each do |user_reference| %>
      <tr>
        <td><%= user_reference.user_document_id %></td>
        <td><%= user_reference.attachment %></td>
        <td><%= user_reference.reference_name %></td>
        <td><%= user_reference.relation_to_user %></td>
        <td><%= link_to 'Show', user_reference %></td>
        <td><%= link_to 'Edit', edit_user_reference_path(user_reference) %></td>
        <td><%= link_to 'Destroy', user_reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>New Reference</h1>
<%= render 'form' %>

<%= link_to 'Next: User Review', user_document_final_review_path, class: 'submit_button' %>
