<p id="notice"><%= notice %></p>

<h1>Listing User Arguments</h1>
<%if @existing_argument.present? %>
<h2><%=@existing_argument.ids%></h2>
<h3><link_to "Arguments" </h3>
<% end %>
<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Overall reason</th>
      <th>User change details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_arguments.each do |user_argument| %>
      <tr>
        <td><%= user_argument.document %></td>
        <td><%= user_argument.overall_reason %></td>
        <td><%= user_argument.user_change_details %></td>
        <td><%= link_to 'Show', user_argument %></td>
        <td><%= link_to 'Edit', edit_user_argument_path(user_argument) %></td>
        <td><%= link_to 'Destroy', user_argument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User argument', new_user_argument_path %>
