<header>
	<div id="main-header">
	  <nav class="navbar navbar-default navbar-static-top">
	    <div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-drop">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <%= link_to root_path, class: "navbar-brand" do %>
	          <img src="<%= image_path('logo-horiz.png') %>" alt="Clean Slate DC" />
	        <% end %>
	      </div>
	      <div id="navbar-drop" class="navbar-collapse collapse">
	        <ul class="nav navbar-nav navbar-right">
		        <li><%= link_to "Documents", user_documents_path %></li>
		        <li><%= link_to "Court Cases", new_user_case_info_path %></li>
		        <li><%= link_to "Your References", user_references_path %></li>
		        <li><%= link_to 'About', about_path %></li>
		        <li><%= link_to 'Contact', contact_path %></li>
            <% if user_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path)  %>
            </li>
          <% end %>
	        </ul>
	      </div>
	      <!--/.nav-collapse -->
	    </div>
	    <!--/.container-fluid -->
	  </nav>
	</div>
</header>
