<header id="main-header">
  <nav>

  	<div class="site-title">
        		<%= link_to "Tech for Justice", "/", :class => "logo pull-left" %>
		</div>

		<div id="site-nav">
	    <div class="container">
	      <ul class="nav-primary" role="navigation">
	        <li><%= link_to "Link 1", "/" %></li>
	        <li><%= link_to "Link 2", "/" %></li>
	        <li><%= link_to "Link 3", "/" %></li>
	        <li><%= link_to "Link 4", "/" %></li>
	      </ul>
	    </div>
		</div>

  </nav>
</header>