<header id="main-header">
  <nav>
    <div class="site-title">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-lg-offset-0 col-xs-10 col-xs-offset-1">
            <%= link_to root_path do %>
              <img class="img-responsive text-center logo" src="<%= image_path('logo_white.png') %>" alt="Clean Slate DC" />
            <% end %>
          </div>
          <div class="col-md-8 col-xs-10 col-xs-offset-1">
            <div id="site-nav" class="pull-right">
              <ul class="nav-primary" role="navigation">
                  <li><%= link_to "Documents", documents_path %></li>
                  <li><%= link_to "Court Cases", user_case_infos_path %></li>
                  <li><%= link_to "Your References", "/" %></li>
                  <li><%= link_to 'About', about_path %></li>
                  <li><%= link_to 'Contact', contact_path %></li>
                </ul>
            </div>
            </div>
          </div>
      </div>
    </div>
  </nav>
</header>