<!DOCTYPE html>
<html>
  <head>
    <title>Clean Slate DC</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="wrap">

      <%= render 'layouts/header' %>

      <div class="two-column">
        <%= render 'layouts/sidebar' %>
        <div class="two-column__body">
          <%= yield %>
        </div>
        
      </div>

    </div>
  </body>
</html>
