<!DOCTYPE html>
<html>
  <head>
    <title>Tech for Justice</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrap">
      <%= render 'layouts/header' %>
      <%= render 'layouts/sidebar' %>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-sm-10 col-xs-10 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
