<!DOCTYPE html>
<html>
  <head>
    <title>Tech for Justice</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="splash-bg">
    <div id='form1'>
      <div class="outer">
        <div class="middle">
          <div class="inner">
            <img id="logo" src="<%= image_path('logo_white.png') %>" alt="logo" width="150">
            <%= render 'layouts/flash_alerts' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
