<!DOCTYPE html>
<html>
<head>
  <title>Tech for Justice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "partials/form_navigation" %>

<div class="form-body">
	<%= yield %>
</div>

</body>
</html>